#calculator-wrapper {
    margin: auto;
    margin-top: 50px;
    border: 7px solid #2F0147;
    width: fit-content;
    overflow: hidden;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#display-screen {
    background-color: #DCB6D5;
    height: 150px;
    width: 302px;
    overflow: hidden;
    position: relative;
    border-top: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

#buttons-wrapper {
    border-top: 4px solid #2F0147;
    border-right: 2px solid #2F0147;
    display: grid;
    width: 300px;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    width: 75px;
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s;
    font-size: 20px;
    border: 1px solid white;
    margin: auto;
}

.button:hover {
    background-color: #DCB6D5;
    width: 73px;
    height: 48px;
}

.digit {
    background-color: #B3B3F1;
}

#mini-display {
    max-height: 50px;
    font-size: 20px;
    right: 50px;
    position: absolute;
    top: 15px;
}

.operation {
    background-color: #CEC2FF;
    font-weight: bolder;
}

.critical-operation {
    background-color: #CF8BA9;
}

#display {
    font-size: 40px;
    right: 10px;
    position: absolute;
    top: 50px;
}

p {
    display: inline-block;
    margin: 0px;
    max-width: 250px;
    max-height: 100px;
}